/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

#generate-number-button {
    width: 40%;
    min-width: 50px;
    height: 50px;
    color: var(--button-text-color);
    background: var(--lilac-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#number-result-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#result {
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 120px;
    color: var(--text-color);
}

#number-label,
#number-repeat-label,
#min-number-label,
#max-number-label {
    font-size: 14px;
    color: var(--text-color);
    cursor: pointer;
}

#min-number-input,
#max-number-input {
    min-width: 80px;
    width: 20%;
    border: none;
    color: var(--text-color);
    border-bottom: 1.5px solid var(--text-color);
    background-color: var(--sidebar-color);
}

.number-input-wrap {
    border-radius: 8px;
    font-size: 30px;
    color: var(--text-color);
    height: 100%;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

#number-div-wrap {
    height: 100%;
    width: 100%;
}

#number-p {
    display: flex;
    border-radius: 8px;
    width: 100%;
    font-size: 30px;
    color: var(--text-color);
    align-items: center;
    justify-content: center;
}

.number-block {
    margin: 7px;
}

.number-range-block {
    margin: 7px;
    display: inline-block;
}

#number-range-input,
#number-list-input,
#number-checkbox,
#number-repeat-checkbox {
    transform: scale(2);
    margin: 10px;
    color: var(--text-color);
    cursor: pointer;
}

#number-repeat-checkbox {
    transform: scale(2);
    color: var(--text-color);
    cursor: pointer;
}

#number-range-input:checked,
#number-list-input:checked,
#number-checkbox:checked,
#number-repeat-checkbox:checked {
    accent-color: var(--lilac-color);
}

#number-range-label,
#number-list-label {
    font-size: 13px;
    color: var(--text-color);
    cursor: pointer;
}

#number-textarea {
    width: 80%;
    border-radius: 8px;
    margin: 10px;
    font-size: 20px;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
}

#number-textarea::placeholder {
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: var(--inner-text-color);
}

#number-list-textarea {
    width: 80%;
    border-radius: 8px;
    margin: 10px;
    font-size: 20px;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
}

#number-list-textarea::placeholder {
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: var(--inner-text-color);
}

#number-count-wrapper {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
}

#number-count-input {
    width: 50%;
    border-radius: 8px;
    accent-color: var(--lilac-color);
}

#number-count-slider {
    margin: 10px;
    border-radius: 8px;
    font-size: 30px;
    color: var(--text-color);
}

#number-count-label{
    margin: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 14px;
    color: var(--text-color);
    cursor: pointer;
}

#number-main-range-wrapper {
    display: flex;
    align-items: center;
}

#number-range-wrapper,
#number-list-wrapper {
    display: flex;
    align-items: center;
}

.dash-content .number-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.dash-content .number-boxes .number-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    padding: 15px 20px;
    margin: 15px;
    background-color: var(--box1-color);
    transition: var(--tran-05);
}

.box1 {
    width: calc(60% - 15px);
}

.box2 {
    width: calc(40% - 15px);
}

.number-boxes .number-box i {
    font-size: 35px;
    color: var(--text-color);
}

.number-boxes .number-box .text {
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}

.number-boxes .number-box .number {
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}

.number-boxes .number-box .box2 {
    background-color: var(--box1-color);
}

@media (max-width: 780px) {
    .dash-content .number-boxes .number-box {
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}

@media (max-width: 560px) {
    .dash-content .number-boxes .number-box {
        width: 100%;
    }
}
